
body{
    font-family: 'Noto Sans';
    line-height: 1.5;
}
/*-------------Layout-------------*/

/*----- header -----*/
.header{
    max-width: 100%;
    padding:30px 88px;
}
.headerLogo{
    width: 80px;
    height: 49px;
    /*圖片取代文字*/
    text-indent:101%;
    overflow: hidden;
    white-space: nowrap;
}
.headerLogo_img{
    width: 80px;
    height: 48.57px;
}

.headerMenuItem a:hover{
    color:#AA0601;
    font-weight: bold;
    background-color: #fff;
    border-radius: 15%;

}


/*----- footer -----*/
.footerPhoneNumberImg{
    padding-right: 12px;
}
.footerPhoneLogo{
    display:none;
}
.footerMenuBlock1Item a:hover{
    border-bottom: cornflowerblue 3px solid;
    padding-bottom: 5px;
    color: cornflowerblue;
    font-weight: bold;
}
.footerPhoneNumber:hover{
    color: cornflowerblue;
}
.footerEmailAddress:hover{
    color: cornflowerblue;
}
.footerAnnouncementPrivacy a:hover{
    color: cornflowerblue;
}
.footerAnnouncementTerms a:hover{
    color: cornflowerblue;
}




/*-------------------- RWD --------------------*/

/*---- 992~768 Pad----*/
@media(max-width: 992px) {
    /*----- header -----*/
    .header{
        padding:30px 39px;
    }
    /*----- footer -----*/
    .footerMenuBlock2 img{
        width: 24px;
    }
    .footerPhoneNumberImg{
        width: 18px;
        padding-right: 10px;
    }
    .footerPhoneNumber{
        font-size: 20px;
    }
    .footerEmailAddressImg{
        width: 28px;
    }
    .footerEmailAddress{
        font-size: 20px;
    }
    .footerTrademarkLink{
        display: none;
    }
    .footerAnnouncementPrivacy{
        margin-right: 24px;
    }

    

    
    }
    
    /*---- 767~415 Phone----*/
    @media(max-width: 767.9px) {
    /*----- header -----*/
    
    .header{
        padding: 0;
        flex-wrap:wrap;
        text-align: center;
        justify-content: center;
    }
    .headerLogo{
        width: 100%; 
        padding: 10px 0;
    }   
    
    .headerLogo_img{
        margin: 0 auto;
        height: auto;
        width: 85px;
    }
    .headerMenu{
        flex-wrap:wrap;
        width: 100%;
        justify-content: space-around;
    }
    .headerMenuItem a{
        display: block;
    }
    .headerMenuItem a:hover{
        border:none;
        padding-bottom: 0;
        color: cornflowerblue;
    }
    
    .headerMenuItem{
        padding:8px 0;
        width: 49.7%;
        margin-right: 0;
        border: 1px solid #ffffff;
    }
    /*----- footer -----*/
    .footerMenuBlock1{
        display: none;
    }
    .footerMenu{
        display: block;
    }
    .footerBlockTop{
        display: flex;
        flex-direction: row-reverse;
    }
    .footerTrademarkInformation{
        font-size: 14px;
    }
    .footerBlockBottom{
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .footerAnnouncementInformation{
        display: block;
    }
    .footerPhoneLogo{
        display: block;
        width: 46px;
        
    }

    
    
    
    }
    
    
    /*---- 414~321 Phone----*/
    @media(max-width: 414.9px) {
    /*----- header -----*/
    
    
    .headerMenuItem{
        width: 49.33%;
    }
    /*----- footer -----*/
    
    .footerBlockTop{
        flex-direction:column;
    }
    .footerMenuBlock2{
        width:100%;
        justify-content: space-around;
    }
    .footerMenuBlock2 img{
        width: 60px;
        padding: 5px;
        border: 1px solid #ffffff;
    }
    
    .footerTrademarkInformation,.footerAnnouncementInformation a{
        font-size: 20px;
        text-align: center;
    }
    .footerAnnouncementInformation{
        margin: 0 auto;
        
    }
    .footerAnnouncementInformation li{
        
        text-align: center;
    }
    .footerAnnouncementPrivacy{
        margin-right: 0;
    }
    
    .footerPhoneLogo{
        display: none;
        
    }
    .footerTrademark{
        display: block;
    }
    .footerTrademarkLink{
        display: block;
        text-align: center;
    }
        }
    
    /*---- 320 Phone----*/
    @media(max-width: 320.9px) {
    
    
    }